.h1 {
  font-size: 2.5rem;
  padding: 1.5em;
  padding-top: 6.5em;
  padding-left: 4.5em;
  color: black;
  text-align: center;
  justify-content: center;

}

.conta {
  font-size: 2.2rem;
  padding: 0.3em;
  margin: 0.5em;
  color: black;
  text-align: center;
  background-color: #ffbb33;
  border: 3px solid black;
  border-radius: 12pt;
  display: inline-block;
  justify-content: center;
  text-align: center;

}



.conta a {
  text-decoration: none; 
  color: inherit; 
  text-decoration: none;

}

.conta a:hover {
  text-decoration: none;
  transition: font-size 0.5s ease;
  font-size: 2.4rem;


}

.div {
  justify-content: center;
  text-align: center;
  padding-left: 12.5em;
  text-decoration: none;
  list-style-type: none;


}
