.footer {
    background-color: #222;
  width: 100%;
    padding: 3em;
    text-align: center;
  }
  
  .social_list {
   
    display: flex;
    justify-content: center;
    list-style-type: none;
    color: white;
  }
  
  .social_list li {
    margin: 0 1em;
  }
  
  .social_list li:hover {
    color: #ffbb33;
  }
  
  .social_list svg {
    
    font-size: 1.5em;
    cursor: pointer;
  }
  
  .copy_right {
    margin-top: 2em;
        color: white;
  }
  
  .copy_right span {
    font-weight: bold;
    color: #ffbb33;
  }