.horario_card {
  padding: 1.5em; /* Adjusted from .project_card */
  border: 1px solid #222;
  border-radius: 10px;
  width: 250px;
  margin: 1%;
  background-color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.horario_card h4 {
  background-color: #333;
  color: #ffbb33;
  padding: 0.5em;
  margin-bottom: 1.5em;
  font-size: 1.4em;
  text-align: center;
}

.horario_card p {
  color: #7a7a7a;
  margin-bottom: 1.2em;
  font-size: 1em;
}

.horario_card p span {
  font-weight: bold;
  color: #333;
}

.category_text {
  display: flex;
  align-items: center;
}

.category_text span {
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ccc;
  margin-right: 5px;
}

.category_text .infra {
  background-color: #ffaebc;
}

.category_text .desenvolvimento {
  background-color: #a0e7e5;
}

.category_text .design {
  background-color: #b4f8c8;
}

.category_text .planejamento {
  background-color: #fbe7c6;
}

.horario_card_actions {
  margin-top: 1.2em;
  display: flex;
  align-items: center;
}

.horario_card_actions a,
.horario_card_actions button {
  text-decoration: none;
  border: none;
  background-color: #333;
  color: #ffbb33;
  padding: 0.6em 1.2em;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.horario_card_actions svg {
  margin-right: 0.5em;
}

.horario_card_actions a:hover,
.horario_card_actions button:hover {
  background-color: #ffbb33;
  color: #333;
}
